header {
  height: 5rem;
  width: 100%;
  background: rgb(61, 139, 165);
  text-align: center;
}
h1 {
  color: rgb(222, 214, 236);
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
}
h1:hover {
  color: bisque;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
