section {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  margin: 0.5rem;
  margin-top: 2rem;
}
ul {
  list-style: none;
  padding: 1rem;
  line-height: 2;
  box-shadow: 0 3px 10px rgba(11, 11, 11, 0.2);
  width: 29rem;
  border-radius: 2rem;
}

button {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
